.header {
  background-color: $black_spotify;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;

}

.logo_spotify {
  height: 50px;
  padding: 10px;
  display: flex;
}

.nav_menu {
  display: flex;

  & ul {
    display: none;
  }
}


.icono_menu {
  height: 50px;
  padding: 10px;
  display: flex;
  padding-right: 20px;

}

@media all and (min-width: 480px) {
  .icono_menu {
    display: none;
  }

  .nav_menu ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 10px;
    align-items: center;

    & li {
      color: white;

      & a {
        color: white;
        text-decoration: none;
        padding: 10px;
      }
    }
  }
  .header {
    padding: 10px;
  }
}