form {
    display: flex;
    flex-direction: column;
}

.nacimiento {
    display: flex;
}

.genero {
    display: flex;
}

.day, .month, .year {
    display: flex;
    flex-direction: column;
}
