.header {
    background-color: var(--negro_spotify);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;

}

.logo_spotify {
    height: 50px;
    padding: 10px;
    display: flex;
}

.nav_menu {
    display: flex;
}

.icono_menu {
    height: 50px;
    padding: 10px;
    display: flex;

}

main {
    margin-top: 50px;

}

/* 
.nav_menu ul li {
    color: white;
    display: inline-block;    
}

.nav_menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
} */

.section_1 {
    background-color: var(--azul_spotify);
    color: var(--blanco_texto);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;

}

.section_1 h1 {
    font-size: 36px;
    padding-top: 80px;


}

.section_1 h2 {
    font-size: 20px;
}

.section_1 p {

    font-size: 10px;
    padding-bottom: 30px;
}

.section_1 a {
    background-color: var(--verde_spotify);
    border: 1px solid var(--verde_spotify);
    border-radius: 40px;
    padding: 10px 80px;
    color: var(--blanco_texto);
    text-decoration: none;
    font-size: 13px;
}

.section_2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    flex-wrap: wrap;



}

.section_2 div {


    background-color: blue;
    /*justify-content: right;*/
    width: 70%;


}

.section_2 section {

    display: flex;
    flex-direction: row;
    width: 100vw;



}

.benefit_icons {
    width: 30%;



}