.header {
    background-color: rgb(14, 14, 14);
   }

.logo_spotify {
    width: 100px;
    padding: 10px; 
}

.nav_menu {
    display: inline-block;
    width: 85%;
    padding: 10px;
    padding-left: 80px;
/*     
    background-color: blue; */

    

}

.nav_menu ul li {
    color: white;
    display: inline-block;    
}

.nav_menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}