
.header {
    background-color: var(--negro_spotify);
    display: flex;
    justify-content: space-between;
   }

.logo_spotify {
    height: 50px;
    padding: 10px; 
    display: flex;
}

.nav_menu {
    display: flex;
}

.icono_menu {
    height: 50px;
    padding: 10px;
    display: flex;

}

/* 
.nav_menu ul li {
    color: white;
    display: inline-block;    
}

.nav_menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
} */

.section_1 {
    background-color: var(--azul_spotify);
    color: var(--blanco_texto);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.section_1 h1 {
    font-size: 36px;


}

.section_1 h2 {
    font-size: 20px;
}

.section_1 p {

}

.section_1 a {
    background-color:var(--verde_spotify);
    border: 1px solid var(--verde_spotify);
    border-radius: 40px;
    padding: 10px 80px;
    color: var(--blanco_texto);
    text-decoration: none;
}