// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

:root {
    --negro_spotify: rgb(14, 14, 14);
    --blanco_texto: white;
    --azul_spotify: #529cf1;
    --verde_spotify: #26b758;
}

.header {
    background-color: var(--negro_spotify);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;

}

.logo_spotify {
    height: 50px;
    padding: 10px;
    display: flex;
}

.nav_menu {
    display: flex;
}

.icono_menu {
    height: 50px;
    padding: 10px;
    display: flex;

}

main {
    margin-top: 50px;

}

/* 
.nav_menu ul li {
    color: white;
    display: inline-block;    
}

.nav_menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
} */

.section_1 {
    background-color: var(--azul_spotify);
    color: var(--blanco_texto);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;

}

.section_1 h1 {
    font-size: 36px;
    padding-top: 80px;


}

.section_1 h2 {
    font-size: 20px;
}

.section_1 p {

    font-size: 10px;
    padding-bottom: 30px;
}

.section_1 a {
    background-color: var(--verde_spotify);
    border: 1px solid var(--verde_spotify);
    border-radius: 40px;
    padding: 10px 80px;
    color: var(--blanco_texto);
    text-decoration: none;
    font-size: 13px;
}





.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
}

.section_2 h2 {
    padding: 20px;
}

.section_2 div {
    width: 70%;
    /* padding-top: 10px; */
}

.section_2 section {

    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.benefit_icons {
    width: 100%;
    max-width: 150px;
}

.container_icon {
    width: 17%;
}

.section_2 h3 {
    padding-bottom: 8px;
}


.footer {
    background-color: var(--negro_spotify);
    display: flex;
    justify-content: space-between;
    color: var(--blanco_texto);
    padding: 15px;
}

.footer_nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    
}

.footer_nav nav a {
    text-decoration: none;
    color: var(--blanco_texto);
}

